<footer class="site-footer">
    <div class="site-footer-inner">
        <ul class="font-sm mt-8 flex flex-col space-y-2 space-x-0 text-neutral-600 md:flex-row md:space-y-0 md:space-x-4 dark:text-neutral-300">
            <li>
                <a
                  class="inline-flex items-center gap-1"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/waynegraham"
                >
                  github
                  <i class="fa-solid fa-up-right-from-square" aria-hidden="true"></i>
                  <span class="visually-hidden">opens in a new tab</span>
                </a>
            </li>
            <li>
                <a
                  class="inline-flex items-center gap-1"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/waynegraham/standing-self-defense/"
                >
                  view sourcecode
                  <i class="fa-solid fa-up-right-from-square" aria-hidden="true"></i>
                  <span class="visually-hidden">opens in a new tab</span>
                </a>
            </li>
            <li>
                <a
                  class="inline-flex items-center gap-1"
                  target="_blank"
                  rel="noopener noreferrer"
                  href="https://github.com/waynegraham/standing-self-defense/blob/main/LICENSE"
                >
                  mit license
                  <i class="fa-solid fa-up-right-from-square" aria-hidden="true"></i>
                  <span class="visually-hidden">opens in a new tab</span>
                </a>
            </li>
        </ul>

        <p class="mt-8 text-neutral-600 dark:text-neutral-300">
          &copy; {% year %} <a href="https://waynegraham.github.io">Wayne Graham</a>
        </p>
    </div>
</footer>
